.header {
    background-color: #282c34;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
}