.all-products-page {
  margin: 24px 2rem;
  color: #222;
}

.products-grid-wrapper h1 {
    margin: 0 0 18px 0;
    font-size: 2.0rem;
    text-align: left;
}

.products-grid-wrapper {
  flex-grow: 1; 
  min-width: 0; 
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  align-items: start;
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.all-products-layout {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.layout-col-left {
  flex-basis: 500px;
  flex-shrink: 0;
}

/* columna vacia */
.layout-col-right {
  flex-basis: 500px; 
  flex-shrink: 0;
}

.layout-col-middle.products-grid-wrapper {
  flex-grow: 1; 
  min-width: 0;
  max-width: 800px; 
}


@media (max-width: 520px) {
  .all-products-page {
    padding: 12px;
  }
  .products-grid {
    gap: 12px;
  }
}

.products-grid-wrapper.is-centered {
  flex-grow: 0; 
  margin: 0 auto; 
}